<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.${moduleName}.dao.${className}Dao">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="${package}.${moduleName}.entity.${className}" id="${classname}Map">
        #foreach($column in $columns)
            <result column="${column.columnName}" property="${column.attrname}"/>
        #end
    </resultMap>

    <sql id="Base_Column_List">
        #foreach($column in $columns)
        #if($!{velocityCount} ==$!{columns.size()})${column.columnName} #else ${column.columnName},
        #end
    #end
    </sql>
    <!-- 根据Id查询-->
    <select id="selectByPrimaryKey" resultMap="${classname}Map" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from ${tableName}
        where id = #{id}
    </select>

    <!-- 根据Id删除-->
    <delete id="delete" parameterType="java.lang.Long">
		delete from ${tableName}
		where id = #{id}
	</delete>

    <!-- 插入数据-->
    <insert id="insertSelective" parameterType="${package}.${moduleName}.entity.${className}"
            useGeneratedKeys="true" keyProperty="id">
        insert into  ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #foreach($column in $columns)
                <if test="${column.attrname} != null">  ${column.columnName},</if>
            #end
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #foreach($column in $columns)
                <if test="${column.attrname} != null">#{${column.attrname}},</if>
            #end
        </trim>
    </insert>

    <!-- 更新数据-->
    <update id="updateByPrimaryKeySelective" parameterType="${package}.${moduleName}.entity.${className}">
        update ${tableName}
        <set>
            #foreach($column in $columns)
                <if test="${column.attrname} != null">${column.columnName} = #{${column.attrname}},</if>
            #end
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <!-- 全部查询 -->
    <select id="queryAll${className}" parameterType="java.util.Map"
            resultMap="${classname}Map">
        select
        <include refid="Base_Column_List"/>
        from ${tableName}
        <where>
            #foreach($column in $columns)
                <if test="${column.attrname} != null and !&quot;&quot;.equals(${column.attrname})">
                    and  ${column.columnName} = #{${column.attrname}}
                </if>
            #end
        </where>
        order by id desc
    </select>

    <!-- 根据条件查询一个 -->
    <select id="query${className}" parameterType="java.util.Map"
            resultMap="${classname}Map">
        select
        <include refid="Base_Column_List"/>
        from ${tableName}
        <where>
            and del_flag = 'N'
            #foreach($column in $columns)
                <if test="${column.attrname} != null and !&quot;&quot;.equals(${column.attrname})">
                    and  ${column.columnName} = #{${column.attrname}}
                </if>
            #end
        </where>
        LIMIT 1
    </select>

</mapper>
