package ${package}.${moduleName}.dao;

import java.util.List;
import ${package}.${moduleName}.entity.${className};

/**
 * ${comments}
 * @motto ${motto}
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Dao {

    int delete(Long id);

    int insertSelective(${className} record);

    ${className} selectByPrimaryKey(Long id);

    int updateByPrimaryKeySelective(${className} record);

    List<${className}> queryAll${className}(${className} record);


    ${className} query${className}(${className} record);

}
