package ${mvcPackage}.${mvcModuleName}.service;

import ${package}.${moduleName}.entity.${className};
import java.util.List;

/**
 * ${comments}
 * @motto ${motto}
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service {

    List<${className}> get${className}List(${className} record);

    List<${className}> get${className}ByPage(${className} record,Integer pageSize, Integer pageNum);

    ${className} get${className}ById(Long id);

    ${className} get${className}(${className} record);

    int create${className}(${className} record);

    int delete(Long id);

    int update${className}(${className} record);

}

