package ${package}.${moduleName}.service;

import ${package}.${moduleName}.entity.${className}Entity;

import java.util.List;

import com.pine.common.dto.Page;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service {

    List<${className}Entity> get${className}List(${className}Entity record);

    List<${className}Entity> get${className}ByPage(Page page, ${className}Entity record);

        ${className}Entity get${className}ById(String id);

        ${className}Entity get${className}(${className}Entity record);

    boolean create${className}(${className}Entity record);

    boolean delete${className}(String id);

    boolean delete${className}All(String ids);

    boolean update${className}(${className}Entity record);

}

